@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
}
html,
body {
	height: 100%;
}

#react-root {
	padding: 20px;
}

.input-calendar {
	position: relative;
	input {
		width: 200px;
		height: 30px;
	}
}
.input-calendar-btn {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
}

.click-me-btn {
	width: 150px;
	height: 80px;
	font-size: 30px;
	border-radius: 15px;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.66);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.calendar {
	width: 400px;
	min-height: 400px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.calendar_switch-data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.month-switcher {
	width: 50%;
	background-color: transparent;
	height: 40px;
	text-align: center;
	font-size: 20px;
	border: none;
	cursor: pointer;
	font-weight: bolder;
}

.year-switcher {
	display: flex;
	justify-content: center;
	width: 50%;
	height: 40px;
}
.switch-btn {
	background-color: transparent;
	font-size: 20px;
	width: 40px;
	border: none;
	font-weight: bolder;
	cursor: pointer;
}
.switch-value {
	width: 70px;
	vertical-align: center;
	font-size: 20px;
	display: flex;
	align-items: center;
	font-weight: bolder;
	justify-content: center;
	cursor: default;
}
.calendar-container {
	margin-top: 15px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
.calendar-day {
	text-align: center;
	margin-bottom: 10px;
}
.calendar-date {
	text-align: center;
	font-weight: bold;
	height: 51px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	margin: 3px 0;
	border: solid transparent 3px;
}
.calendar-date__empty {
	border: solid transparent 3px;
	height: 51px;
}
.calendar-date__today {
	border-color: black;
}
.calendar-date__single-selected {
	border-radius: 50%;
}
.calendar-multiple-selected__start {
	border-radius: 50% 0 0 50%;
}
.calendar-multiple-selected__middle {
	border-radius: 0;
}
.calendar-multiple-selected__end {
	border-radius: 0 50% 50% 0;
}

#lightTheme {
	.calendar {
		background-color: #fffefe;
	}
	.calendar-date:hover {
		background-color: rgb(238, 244, 255);
	}
	.calendar-date__single-selected {
		background-color: #26ffc3 !important;
	}
	.calendar-multiple-selected__start {
		background-color: #26ffc3 !important;
	}
	.calendar-multiple-selected__middle {
		background-color: #26ffc3 !important;
	}
	.calendar-multiple-selected__end {
		background-color: #26ffc3 !important;
	}
}

#darkTheme {
	.calendar {
		background-color: rgb(20 21 42);
		color: white;
	}
	.month-switcher {
		color: white;

		option {
			background-color: rgb(20 21 42);
		}
	}

	.switch-btn {
		color: white;
	}

	.calendar-date:hover {
		background-color: rgb(32 34 66);
	}
	.calendar-date__today {
		border-color: white;
	}
	.calendar-date__single-selected {
		background-color: #112fd5 !important;
	}
	.calendar-multiple-selected__start {
		background-color: #112fd5 !important;
	}
	.calendar-multiple-selected__middle {
		background-color: #112fd5 !important;
	}
	.calendar-multiple-selected__end {
		background-color: #112fd5 !important;
	}
}
